<!-- Formulario -->
<form>
  <!-- Nombre - Apellidos - Edad -->
  <div class="row">
    <!-- Nombre -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="name"><b>T-</b> Nombre</label>
        <input class="form-control" id="name" aria-describedby="nameError" />
        <small id="nameError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Nombre -->
    <!-- Apellidos -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="apellidos"><b>T-</b> Apellidos</label>
        <input class="form-control" id="apellidos" aria-describedby="apellidosError" />
        <small id="apellidosError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Apellidos -->
    <!-- Edad -->
    <div class="col-md-2">
      <div class="form-group">
        <label for="edad"><b>N-</b> Edad</label>
        <input class="form-control" id="edad" aria-describedby="edadError" />
        <small id="edadError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
  </div>
  <!-- Edad -->
  <!-- Nombre - Apellidos - Edad -->

  <!-- Celular - Email -->
  <div class="row">
    <!-- Celular -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="celular"><b>N-</b> Celular</label>
        <input class="form-control" id="celular" aria-describedby="phoneError" />
        <small id="phoneError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Celular -->

    <!-- Correo -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Correo</label>
        <input class="form-control" id="email" aria-describedby="emailError" />
        <small id="emailError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Correo -->
  </div>
  <!-- Celular - Email -->

  <!-- Contraseña -->
  <div class="row">
    <!-- Password -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input class="form-control" id="password" aria-describedby="passwordError" />
        <small id="passwordError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Password -->
    <!-- Confirm password -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="password-confirm">Confirmar Contraseña</label>
        <input class="form-control" id="password-confirm" aria-describedby="confirmError" />
        <small id="confirmError" class="form-text text-muted">Error message goes here</small>
      </div>
    </div>
    <!-- Confirm password -->
  </div>
  <!-- Contraseña -->

  <!-- Agendar Viaje -->
  <div class="row">
    <!-- Agendar Viaje -->
    <div class="col-md-2">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="travelError" />
        <label class="form-check-label" for="travelError">Agendar Viaje</label>
      </div>
    </div>
    <!-- Agendar Viaje -->

    <!-- Fecha Inicio -->
    <div class="col-md-5">
      <div class="form-group">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="Fecha Inicio"
            name="fecha_inicio"
            [(ngModel)]="dteInicio"
            ngbDatepicker
            #fi="ngbDatepicker"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary gg-calendar" (click)="fi.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fecha Inicio -->

    <!-- Fecha Final -->
    <div class="col-md-5">
      <div class="form-group">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="Fecha Fin"
            name="fecha_fin"
            [(ngModel)]="dteFin"
            ngbDatepicker
            #ff="ngbDatepicker"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary gg-calendar" (click)="ff.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Fecha Final -->
  </div>
  <!-- Agendar Viaje -->

  <!-- Comentarios -->
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="comments">Comentarios</label>
        <textarea class="form-control" id="comments" rows="4"></textarea>
      </div>
    </div>
  </div>
  <!-- Comentarios -->

  <!-- Boton -->
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary">Validar</button>
    </div>
  </div>
  <!-- Boton -->

  <br /><br />

  <!-- Datos Imagen -->
  <div class="row">
    <div class="col-md-6">
      <!-- Nombre Imagen -->
      <div class="form-group">
        <label for="imgName">Nombre Imagen</label>
        <input class="form-control" id="imgName" aria-describedby="nameError" />
        <small id="nameError" class="form-text text-muted">Error message goes here</small>
      </div>
      <!-- Nombre Imagen -->
    </div>
    <div class="col-md-6">
      <!-- Peso imagen -->
      <div class="form-group">
        <label for="imgSize">Peso Imagen</label>
        <input class="form-control" id="imgSize" aria-describedby="imgSizeError" />
        <small id="imgSizeError" class="form-text text-muted">Error message goes here</small>
      </div>
      <!-- Peso imagen -->
    </div>
  </div>
  <!-- Datos Imagen -->

  <!-- Imagen Componente -->
  <app-image-loader></app-image-loader>
  <!-- Imagen Componente -->
</form>
